Flask==3.0.0
flask-cors==4.0.0
PyPDF2==3.0.1
groq==0.1.0
opencv-python-headless==4.8.0.76
numpy==1.26.0
torch==2.1.0
ultralytics==8.0.196
facenet-pytorch==2.5.3
pillow==10.0.1
pandas==2.1.2
python-dotenv==1.0.0
Werkzeug==3.0.1
